footer.conteiner
  .bottom
    .wraper_bottom
      .footer_logo DREAMSHARE
      .company
        | Company
        .company_list About
        .company_list Contact
        .company_list Pres
        .company_list Blog 
        .company_list Terms and Privacy 
        .company_list Help
      .partners Partners
      .designed
        | DESIGNED BY
        .designed_icon
