header.conteiner
  .header_foto
    nav.nav_menu
      .logo DREAMSHARE
      .nav_items
        .wraper_log_in
          button(value='') Log in
        .wraper_sign_up
          button.button_sign_up(value='') Sign up
    article.main_info
      .main_info_conteiner
        .mein_text
          | SHARE YOUR
          | HOLIDAY DREAM
        .second_text And find the perfect partner to fullfill it
        .wraper_find_your_holiday
          .find_your_holiday Find your holiday partner