$main-text-color:#FFFFFF;
$second_text_color: #444444;
$text_info: #666666;
$buttons_wraper: #FF4E50;
$buttons_border_radius:40px;
$main_text_font:'Montserrat' sans-serif;
$second_text_font: 'Roboto', sans-serif;
