extends common/layout

block content
 main.conteiner
  section.dreamshare_section
    .wrapper_dreamshare_section
      span.section_title How Dreamshare works?
    article.foto_blocks_dreamshare
      figure.foto_1_step
        .wraper_foto_1_row_1
          .foto_1_row_1 Step 1
        .main_text_1_step Sed leo enim, condimentum
        .second_text_1_step
          | Quisque libero libero, dictum
          | non turpis in, luctus semper lorem. Donec rhoncus a leo
          | sit amet facilisis.
      figure.foto_2_step
        .wraper_foto_2_row_1
          .foto_2_row_1 Step 2
        .main_text_2_step Morbi velit risus
        .second_text_2_step
          | Nulla venenatis tempor
          | dui in molestie. Nulla quis dictum purus, sit amet
          | porttitor est.
      figure.foto_3_step
        .wraper_foto_3_row_1
          .foto_3_row_1 Step 3
        .main_text_3_step Sed leo enim, condimentum
        .second_text_3_step
          | Quisque libero libero, dictum
          | non turpis in, luctus semper lorem. Donec rhoncus a leo sit
          | amet facilisis.
  section.meet_partner_section
    .wrapper_meet_partner_section
      span.section_title_meet_partner
        | Meet a partner
        | for your best holiday
    .meet_partner_blocks
      .person_1st_block
        .person_1st_foto
          .person_1st_icon
        .person_1st_name Bradley Hunter
        .person_1st_info
          | Based in Chicago.
          | I love playing tennis and loud music.
      .person_2nd_block
        .person_2nd_foto
          .person_2nd_icon
        .person_2nd_name Marie Bennett
        .person_2nd_info
          | Currently living in
          | Colorado. Lover of art, languages and travelling.
      .person_3rd_block
        .person_3rd_foto
          .person_3rd_icon
        .person_3rd_name Diana Wells
        .person_3rd_info
          | Living in Athens,
          | Greece. I love black and white classics,
          | chillout music and green tea.
      .person_4th_block
        .person_4th_foto
          .person_4th_icon
        .person_4th_name Christopher Pierce
        .person_4th_info
          | Star Wars fanatic.
          | I have a persistent enthusiasm to create new things.
    .meet_partner_button_wraper
      .meet_partner_button
        span.partner_button_text See other partners
  section.discover_section
    .wraper_discover
      span.discover_section_title
        | Discover
        | holiday activity ideas
    .wraper_image_blocks
      figure.image_1
        figcaption.image_1_description Sports and Activis
      figure.image_2
        figcaption.image_2_description Wellness and Health
      figure.image_3
        figcaption.image_3_description
          | Extreme Sports
          | and Expeditions
      figure.image_4
        figcaption.image_4_description Games
      figure.image_5
        figcaption.image_5_description Culture and Education
      figure.image_6
        figcaption.image_6_description Enjomet and Relaxation
      figure.image_7
        figcaption.image_7_description Trevelling
  section.crate_section
    .wraper_crate
      span.crate_section_title Crate your holiday activity
    form.form_wraper
      p.form_title Hi! What are your holiday interests?
      input(type='search', placeholder='Enter your insterests', maxlength='30', required='')
      input(type='button', value='Search partners')



    
 