@import './base/mixins';
@import './base/resetCss';
@import './base/variable';


@media screen and (max-width:376px) {
    .conteiner {
        @include conteiner (100%, 100%);
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        align-content: center;
        justify-content: center;
    }

    %font-list_lg {
        font-family: 'Montserrat';
        font-weight: bold;
        color: $main-text-color;
    }


    .header_foto {
        background-image: url('./images/Background_mobile.png');
        width: 320px;
        height: 560px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .nav_menu {
        width: 100%;
        height: 36.5%;

        display: flex;
        margin: auto;
        flex-wrap: wrap;
        align-content: center;

    }

    .logo {
        @extend %font-list_lg;
        width: 48%;
        height: 13%;

        align-self: flex-end;
        font-size: 21px;
        line-height: 24px;
        margin-right: 0%;
        margin-left: -1%;

        order: 1;
        margin: auto;
    }

    .nav_items {
        font-family: 'Montserrat-Regular';
        width: 87%;
        height: 66%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }

    button {
        color: $main-text-color;
        background: none;
        border: none;
        align-self: flex-end;
        font-size: 97%;
        padding: 8px 16px 8px 21px;

    }

    button:hover {
        background: transparent;
        border-radius: 50px;
        border-color: #fff;
        border-style: solid;
        padding: 7px 18px 7px 18px;

    }

    .main_info {
        width: 95%;
        height: 57.5%;
        display: flex;

        align-items: flex-start;
        margin: auto;
    }

    .main_info_conteiner {
        width: 87%;
        height: 59.5%;
        display: flex;
        justify-content: flex-end;

    }

    .mein_text {
        @extend %font-list_lg;
        width: 272px;
        height: 74px;
        font-size: 30px;
        line-height: 37px;

        text-align: center;
        margin-top: -8px;
        display: flex;
        align-items: flex-end;


    }

    .second_text {
        width: 100%;
        height: 25px;
        font-family: 'Roboto';
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-top: 3.2%;
        line-height: 24px;

    }

    .wraper_find_your_holiday {
        width: 280px;
        height: 40px;
        background: $buttons_wraper;
        border-radius: $buttons_border_radius;
        display: flex;
        margin-top: 40px;
    }

    .find_your_holiday {
        width: 187px;
        height: 17px;
        @extend %font-list_lg;
        font-size: 14px;
        line-height: 17.07px;
        color: #fff;
        text-align: center;
        margin: auto;

    }

    .dreamshare_section {
        @include conteiner (100%, 100%);
    }

    .section_title {

        @extend %font-list_lg;
        width: 289px;
        height: 27px;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: $second_text_color;
    }

    .wrapper_dreamshare_section {
        @include conteiner (100%, 55px);
        display: flex;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }

    %dreamshare_wraper_button_lg {
        width: 70px;
        height: 20px;
        background: $buttons_wraper;
        border-radius: $buttons_border_radius;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
    }

    %dreamshare_button_fonts_lg {
        font-family: 'Montserrat';
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 2px;
        color: $main-text-color;
        text-align: center;
        text-transform: uppercase;

    }

    %dreamshare_main_text_fonts_lg {
        width: 85%;
        height: 15%;
        font-weight: bold;
        font-size: 153%;
        line-height: 58%;
        display: flex;
        margin-left: 2%;
    }

    %dreamshare_second_text_fonts_lg {
        width: 83%;
        height: 14%;
        font-size: 14px;
        line-height: 14px;
        margin-left: 2%;
    }

    .foto_blocks_dreamshare {
        @include foto_blocks_dreamshare (100%, 100%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        margin: auto;

        .foto_1_step {
            background-image: url('./images/Object1m.png');
            @include foto_blocks_dreamshare (300px, 240px);
            display: block;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: stretch;
            margin-right: 0%;

            .wraper_foto_1_row_1 {
                @extend %dreamshare_wraper_button_lg;
                align-self: flex-start;

                margin-bottom: 0px;
                margin-top: 48px
            }

            .foto_1_row_1 {
                @extend %dreamshare_button_fonts_lg;
                @include foto_buttons (44px, 12px);
            }

            .main_text_1_step {
                @extend %dreamshare_main_text_fonts_lg;
                @extend %font-list_lg;
                margin-top: 30px;
                margin-bottom: 0px;

            }

            .second_text_1_step {
                font-family: $second_text_font;
                color: $main-text-color;
                @extend %dreamshare_second_text_fonts_lg;
                margin-bottom: 0px;

            }

        }

        .foto_2_step {
            background-image: url('./images/Object2m.png');
            @include foto_blocks_dreamshare (300px, 240px);
            display: block;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: stretch;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 5.5%;
            margin-bottom: 5.5%;


            .wraper_foto_2_row_1 {
                @extend %dreamshare_wraper_button_lg;
                align-self: flex-start;
                margin-bottom: 33px;


            }

            .foto_2_row_1 {
                @extend %dreamshare_button_fonts_lg;
                @include foto_buttons (46px, 12px);
            }

            .main_text_2_step {
                @extend %font-list_lg;
                @extend %dreamshare_main_text_fonts_lg;
                margin-bottom: 3px;

            }

            .second_text_2_step {
                font-family: $second_text_font;
                color: $main-text-color;
                @extend %dreamshare_second_text_fonts_lg;
                margin-bottom: 19px;

            }


        }

        .foto_3_step {
            background-image: url('./images/Object3m.png');
            @include foto_blocks_dreamshare (300px, 240px);
            display: block;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: stretch;
            margin-left: 0%;


            .wraper_foto_3_row_1 {
                @extend %dreamshare_wraper_button_lg;
                align-self: flex-start;
                margin-bottom: 0px;
                margin-top: 48px
            }

            .foto_3_row_1 {
                @extend %dreamshare_button_fonts_lg;
                @include foto_buttons (46px, 12px);
            }

            .main_text_3_step {
                @extend %font-list_lg;
                @extend %dreamshare_main_text_fonts_lg;
                margin-top: 30px;
                margin-bottom: 0px;

            }

            .second_text_3_step {
                font-family: $second_text_font;
                color: $main-text-color;
                @extend %dreamshare_second_text_fonts_lg;
                margin-bottom: 0px;

            }
        }
    }

    .meet_partner_section {
        @include conteiner (100%, 100%);


        .wrapper_meet_partner_section {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-content: flex-end;
            flex-wrap: wrap;

            .section_title_meet_partner {
                @extend %font-list_lg;
                width: 100%;
                height: 22%;
                font-size: 22px;
                line-height: 27px;
                color: $text_info;
                text-align: center;
            }
        }

        %person_name_fonts_lg {
            width: 221px;
            height: 18px;
            font-size: 14px;
            line-height: 17px;
            color: $second_text_color;
            margin-top: 14px;
        }

        %person_info_fonts_lg {
            width: 221px;
            height: 38px;
            font-size: 14px;
            line-height: 14px;
            color: $text_info;
            font-family: $second_text_font;
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }

        .meet_partner_blocks {
            @include conteiner (100%, 100%);

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 56px;
            margin: auto;
            text-align: center;

            .person_1st_block {
                @include partner_blocks(236px, 205px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-left: 0px;

                .person_1st_foto {
                    background-image: url('./images/Avatar1.png');
                    width: 120px;
                    height: 120px;
                }

                .person_1st_name {
                    @extend %person_name_fonts_lg;
                    @extend %font-list_lg;
                }

                .person_1st_info {
                    @extend %person_info_fonts_lg;
                }
            }

            .person_2nd_block {
                @include partner_blocks(236px, 205px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-left: 0px;
                margin-top: 8%;

                .person_2nd_foto {
                    background-image: url('./images/Avatar2.png');
                    width: 120px;
                    height: 120px;
                }

                .person_2nd_name {
                    @extend %person_name_fonts_lg;
                    @extend %font-list_lg;
                }

                .person_2nd_info {
                    @extend %person_info_fonts_lg;
                }
            }

            .person_3rd_block {
                @include partner_blocks(236px, 224px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-left: 0px;
                margin-top: 40px;



                .person_3rd_foto {
                    background-image: url('./images/Avatar3.png');
                    width: 120px;
                    height: 120px;
                }

                .person_3rd_name {
                    @extend %person_name_fonts_lg;
                    @extend %font-list_lg;
                }

                .person_3rd_info {
                    @extend %person_info_fonts_lg;
                    height: 57px;
                }
            }

            .person_4th_block {
                @include partner_blocks(236px, 100%);
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0px;
                margin-top: 3px;
                justify-content: space-between;



                .person_4th_foto {
                    background-image: url('./images/Avatar4.png');
                    width: 120px;
                    height: 120px;
                }

                .person_4th_name {
                    @extend %person_name_fonts_lg;
                    @extend %font-list_lg;
                    margin-top: 20px;
                }

                .person_4th_info {
                    @extend %person_info_fonts_lg;
                    height: 64px;
                }
            }

        }

        .meet_partner_button_wraper {
            margin: auto;
            display: flex;
            height: 62px;
            justify-content: center;


            .meet_partner_button {
                width: 280px;
                height: 40px;
                background: $main-text-color;
                border: 2px solid $buttons_wraper;
                box-sizing: border-box;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                .partner_button_text {
                    @extend %font-list_lg;
                    width: 137px;
                    height: 17px;
                    font-size: 14px;
                    line-height: 17px;
                    color: $buttons_wraper;
                }
            }
        }
    }

    .discover_section {
        @include conteiner (100%, 100%);

        .wraper_discover {
            margin: auto;
            display: flex;
            height: 91px;
            justify-content: center;
            align-items: flex-end;

            .discover_section_title {
                @extend %font-list_lg;
                width: 90%;
                height: 54px;
                font-size: 22px;
                line-height: 27px;
                color: $second_text_color;
                text-align: center;
            }
        }

        %text_location_lg {
            @include image_blocks (100%, 120px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            margin-top: 0px;
            background-size: cover;
            background-repeat: no-repeat;

        }

        %image_discription_fonts_lg {
            @extend %font-list_lg;
            width: 60%;
            height: 60%;
            font-size: 22px;
            line-height: 27px;
        }

        .wraper_image_blocks {
            @include image_blocks (100%, 958px);
            display: block;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column;
            align-content: center;
            align-items: stretch;
            justify-content: space-between;
            margin-top: 0px;
            padding-top: 35px;

            .image_1 {
                background-image: url('./images/Bitmap1m.png');
                @extend %text_location_lg;

                .image_1_description {
                    @extend %image_discription_fonts_lg;
                }
            }

            .image_2 {
                background-image: url('./images/Bitmap2m.png');
                @extend %text_location_lg;

                .image_2_description {
                    @extend %image_discription_fonts_lg;
                }
            }

            .image_3 {
                background-image: url('./images/Bitmap3m.png');
                @extend %text_location_lg;

                .image_3_description {
                    @extend %image_discription_fonts_lg;

                }
            }

            .image_4 {
                background-image: url('./images/Bitmap4m.png');
                @extend %text_location_lg;

                .image_4_description {
                    @extend %image_discription_fonts_lg;
                }
            }

            .image_5 {
                background-image: url('./images/Bitmap5m.png');
                @extend %text_location_lg;

                .image_5_description {
                    @extend %image_discription_fonts_lg;
                }
            }

            .image_6 {
                background-image: url('./images/Bitmap6m.png');
                @extend %text_location_lg;

                .image_6_description {
                    @extend %image_discription_fonts_lg;
                }
            }

            .image_7 {
                background-image: url('./images/Bitmap7m.png');
                @extend %text_location_lg;

                .image_7_description {
                    @extend %image_discription_fonts_lg;
                }
            }
        }


    }

    .crate_section {
        @include conteiner (100%, 100%);

        .wraper_crate {
            margin: auto;
            display: flex;
            height: 64px;
            justify-content: center;
            align-items: flex-end;

            .crate_section_title {
                @extend %font-list_lg;
                width: 80%;
                height: 27px;
                font-size: 22px;
                line-height: 27px;
                color: $second_text_color;
                text-align: center;
            }
        }

        .form_wraper {
            @include conteiner (100%, 167px);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;

            .form_title {
                width: 100%;
                height: 24px;
                font-family: $second_text_font;
                color: $text_info;
                font-size: 18px;
                line-height: 14px;
                text-align: center;
                margin-top: 47px;
            }

            input[type="search"] {
                width: 299px;
                height: 40px;
                background: $main-text-color;
                border: 1px solid #D4D4D4;
                box-sizing: border-box;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
                border-radius: 3px;
                margin-top: 5px;
                margin-right: 0px;
            }

            input::placeholder {
                font-family: $second_text_font;
                color: #999999;
                font-size: 14px;
                line-height: 16px;
                align-items: center;
            }

            input[type="search"]:focus {

                box-shadow: 5px 5px 10px;
            }

            input[type="button"] {
                border: 0px;
                width: 280px;
                height: 40px;
                background: $buttons_wraper;
                border-radius: 40px;
                color: $main-text-color;
                margin-top: 11px;
            }
        }

    }

    .conteiner {
        .bottom {
            height: 224px;
            bottom: 0px;
            border-top: 2px solid $buttons_wraper;
            margin: auto;
            margin-top: 43px;
            display: flex;

            .wraper_bottom {
                @include conteiner (75%, 83%);
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                margin: auto;

                .footer_logo {
                    color: $buttons_wraper;
                    font-weight: $main_text_font;
                    font-weight: lighter;
                    width: 100%;
                    height: 20px;
                    font-size: 16px;
                    line-height: 20px;
                }

                .company {
                    @extend %font-list_lg;
                    width: 100%;
                    height: 63%;
                    font-size: 14px;
                    line-height: 17px;
                    color: $second_text_color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .company_list {
                        font-family: $second_text_font;
                        color: #999999;
                        margin-top: 0px;
                        font-weight: lighter;
                        width: 50%;
                        height: 50%;
                    }
                }

                .partners {
                    @extend %font-list_lg;
                    color: $second_text_color;
                    width: 100%;
                    height: 17px;
                    margin-right: 0px;
                    margin-left: 0px;
                }

                .designed {

                    @extend %font-list_lg;
                    width: 100%;
                    height: 27%;
                    display: flex;
                    align-content: center;
                    justify-content: flex-start;
                    align-items: center;
                    letter-spacing: 1px;
                    font-size: 9px;
                    line-height: 12px;
                    color: #CCCCCC;
                }

                .designed_icon {
                    background-image: url('./images/Bitmap.png');
                    margin-top: 0px;
                    height: 24px;
                    background-size: cover;
                }
            }

        }
    }

}